.container-back-img{
    padding-top: 117px;
    padding-left: 85px;
    background-image: url(../img/Bitmap.png);
    background-repeat: no-repeat;
    max-width: 1280px;
    min-height: 600px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 136px;
    border-radius: 0 0 10px 10px;
}

.back-img-heading{
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
    max-width: 493px;
    height: auto;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.back-img-desc{
    margin: 0;
    padding: 0;
    margin-bottom: 52px;
    max-width: 445px;
    height: auto;
    font-family: Barlow;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}
.button{
    margin-bottom: 116px;
    width: 217px;
    height: 56px;
    background: #0E8784;
    color: #fff;
    border-radius: 6px;
    border: none;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}

.button:hover{
    background-color: #66D2CF;
}

// tablet uchun responsive design 

@media only screen and (max-width: 768px){
    .container-back-img{
        padding-top: 104px;
        padding-left: 58px;
    }

    .container-back-img{
        padding-top: 104px;
        padding-left: 58px;
        background-image: url(../img/Bitmap.png);
        background-repeat: no-repeat;
        background-size: 689px 500px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 136px;
        border-radius: 0 0 8px 8px;
    }

    .back-img-heading{
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        color: #FEFCF7;
    }
    .back-img-desc{
        font-family: Barlow;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        opacity: 0.8;
    }
    .button{
        width: 217px;
        height: 56px;
    }
}

@media only screen and (max-width: 768px){
    .back-img-heading {
        margin: 0;
        max-width: 329px;
        min-height: 97px;
        margin-bottom: 24px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
    }

    .back-img-desc{
        margin: 0;
        max-width: 398px;
        min-height: 75px;
        margin-bottom: 40px;
        font-family: Barlow;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        opacity: 0.8;
    }
}

@media only screen and (max-width: 440px){
    .back-img-heading{
        margin: 0;
        margin-bottom: 24px;
        max-width: 279px;
        min-height: 81px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        color: #FEFCF7;
    }
    .back-img-desc{
        margin: 0;
        margin-bottom: 39px;
        max-width: 279px;
        min-height: 101px;
        font-family: Barlow;
        font-size: 15px;
        line-height: 20px;
        color: #FEFCF7;
        opacity: 0.8;
    }
}

@media only screen and (max-width: 430px){
    .container-back-img{
        padding-top: 100px;
        padding-left: 24px;
        background-image: url(../../img/Bitmap104.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        min-height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
    }

    .back-img-heading{
        margin: 0;
        margin: 0 auto;
        margin-bottom: 24px;
        max-width: 279px;
        min-height: 81px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #FEFCF7;
    }
    .back-img-desc{
        margin: 0;
        margin: 0 auto;
        margin-bottom: 39px;
        max-width: 279px;
        min-height: 101px;
        font-family: Barlow;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #FEFCF7;
        opacity: 0.8;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 376px){
    .container-back-img{
        padding-top: 100px;
        padding-left: 24px;
        background-image: url(../../img/Bitmap104.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 327px;
        min-height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
    }

    .back-img-heading{
        margin: 0;
        margin-bottom: 24px;
        max-width: 279px;
        min-height: 81px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #FEFCF7;
    }
    .back-img-desc{
        margin: 0;
        margin-bottom: 39px;
        max-width: 279px;
        min-height: 101px;
        font-family: Barlow;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #FEFCF7;
        opacity: 0.8;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}