.container-choose-us{
     margin-bottom: 351px; 
     padding-top: 100px;
     max-width: 1280px;
     height: 577px;
     background: #2C343E;
     border-radius: 10px;
 }
 .services-item-2{
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 350px;
     height: 382px;
     background: #0E8784;
     border-radius: 8px;
 }
 .choose-us-heading{
     margin: 0;
     padding: 0;
     margin: 0 auto;
     max-width: 329px;
     margin-bottom: 32px;
     font-family: Fraunces 9pt;
     font-weight: 900;
     font-size: 40px;
     line-height: 48px;
     text-align: center;
     color: #FEFCF7;
 }
 .choose-us-desc{
     margin: 0;
     padding: 0;
     max-width: 540px;
     margin: 0 auto;
     margin-bottom: 86px;
     max-width: 540px;
     height: 80px;
     font-family: Barlow;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
     color: #FEFCF7;
     opacity: 0.8;
 }
 .choose-us-list{
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     margin: 0 -15px;
 }
 .choose-us-item{
     margin: 0 15px;
     padding: 78px 48px 48px 47px;
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 350px;
     height: 382px;
     background: #0E8784;
     border-radius: 8px;
 }
 .choose-us-img{
     margin-bottom: 56px;
 }
 .item-2{
     padding: 90px 48px 48px 47px;
 }
 .choose-us-headings{
     margin: 0;
     padding: 0;
     margin-bottom: 24px;
     font-family: Fraunces 9pt;
     font-weight: 900;
     font-size: 24px;
     line-height: 32px;
     text-align: center;
     color: #FEFCF7;
 }
 .choose-us-discs{
     margin: 0;
     padding: 0;
     max-width: 255px;
     height: 78px;
     text-align: center;
     font-family: Barlow;
     font-style: Regular;
     font-size: 16px;
     line-height: 26px;
     color: #FEFCF7;
 }


@media only screen and (max-width: 768px){
    .container-choose-us{
        margin-bottom: 351px; 
        padding-top: 56px;
        max-width: 688px;
        height: 573px;
        background: #2C343E;
        border-radius: 10px;
    }

    .choose-us-heading{
        margin-bottom: 24px;
        font-size: 32px;
        line-height: 48px;
    }

    .choose-us-desc{
        margin-bottom: 70px;
        font-size: 15px;
        line-height: 25px;
    }

    .choose-us-list{
        padding: 0;
        flex-direction: column;
    }
    .choose-us-item{
        padding: 41px 48px 41px 70px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 573px;
        height: 180px;
    }

    .choose-us-img{
        margin: 0;
    }

    .choose-us-item:not(:last-child){
        margin-bottom: 24px;
    }

    .choose-us-headings{
        text-align: left;
        margin: 0;
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 32px;
    }
    .choose-us-discs{
        text-align: left;
        margin: 0;
        font-size: 15px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 680px){
    .choose-us-list{
        padding: 0;
        flex-direction: column;
    }
    .choose-us-item{
        padding: 78px 48px 48px 47px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 573px;
        min-height: 220px;
    }
    .choose-us-headings{
        text-align: center
    }

    .choose-us-discs{
        text-align: center;
    }
}

@media only screen and (max-width: 644px){

    .container-choose-us{
        height: 902px;
    }

    .choose-us-list{
        padding: 0;
        flex-direction: column;
    }
    .choose-us-item{
        padding: 48px 48px 48px 47px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 350px;
        height: 382px;
    }
    .choose-us-headings{
        text-align: center;
    }
    .choose-us-discs{
        text-align: center;
    }
}


@media only screen and (max-width: 600px){
    .container-choose-us{
        margin-bottom: 717px;
    }
}

@media only screen and (max-width: 430px){
    .container-choose-us{
        margin-bottom: 717px; 
        padding-top: 64px;
        width: 100%;
        height: 902px;
        background: #2C343E;
        border-radius: 10px;
    }
    .choose-us-heading{
        margin: 0;
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 28px;
    }
    .choose-us-desc{
        margin: 0;
        margin-bottom: 64px;
        font-size: 15px;
        line-height: 25px;
    }
    .choose-us-list{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
    }
    .choose-us-item{
        padding: 72px 33px 48px 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 279px;
        height: 382px;
        background: #0E8784;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 376px){
    .container-choose-us{
        margin-bottom: 717px; 
        padding-top: 64px;
        max-width: 327px;
        height: 902px;
        background: #2C343E;
        border-radius: 10px;
    }
    .choose-us-heading{
        margin: 0;
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 28px;
    }
    .choose-us-desc{
        margin: 0;
        margin-bottom: 64px;
        font-size: 15px;
        line-height: 25px;
    }
    .choose-us-list{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
    }
    .choose-us-item{
        padding: 72px 33px 48px 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 279px;
        height: 382px;
        background: #0E8784;
        border-radius: 8px;
    }
}