.description{
    width: 730px;
    padding: 40px;
    margin-left: 470px;
    border-radius: 8px;
    color: #fff;
    background-color: #2C343E;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
}

.buttonbek{
    margin-top: 30px;
    margin-left: 980px;
    margin-bottom: 168px;
}