.our-headquarters{
    margin-bottom: 168px;
}

.image-img{
    margin-bottom: 45px;
}

.our-headquarters-heading{
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-bottom: 72px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.our-headquartes-list{
    margin: 0 -95px;
    display: flex;
    list-style: none;
    /* width: 285px;
    height: 290px; */
}

.ourheadquartes-item{
    margin: 0 95px;
}

.kingdom-heading{
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.mini-list-item{
    margin: 0;
    padding: 0;
    /* margin-bottom: 5px; */
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}