.our-commitment-container{
    margin-bottom: 244px;
    padding-left: 100px;
    padding-top: 38px;
    display: flex;
}

.box{
    padding-top: 90px;
    padding-left: 125px;
}

.our-commitment-heading{
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.our-commitment-desc{
    width: 540px;
    height: 260px;
    margin: 0;
    padding: 0;
    font-family: Barlow;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}