.section-checkbox-2{
    margin-bottom: 80px;
}

.span{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span:hover{
    background-color: #FDD6BA;
}

.form-heading{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 56px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}

.span-4{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-4:hover{
    background-color: #FDD6BA;
}
.span-5{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-5:hover{
    background-color: #FDD6BA;
}
.span-6{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-6:hover{
    background-color: #FDD6BA;
}
.span-7{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-7:hover{
    background-color: #FDD6BA;
}
.span-8{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-8:hover{
    background-color: #FDD6BA;
}
.span-9{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-9:hover{
    background-color: #FDD6BA;
}
.span-10{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-10:hover{
    background-color: #FDD6BA;
}
.span-11{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-11:hover{
    background-color: #FDD6BA;
}
.span-12{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-12:hover{
    background-color: #FDD6BA;
}
.span-13{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-13:hover{
    background-color: #FDD6BA;
}
.span-14{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-14:hover{
    background-color: #FDD6BA;
}
.span-15{
    display: inline-block;
    width: 228px;
    height: 250px;
    margin-right: 23px;
    /* border: 1px solid black; */
    background: #F4F1EB;
    padding-top: 32px;
    padding-left: 28px;
    border-radius: 8px;
}

.span-15:hover{
    background-color: #FDD6BA;
}

.label-3 input:checked ~ .span-3{
    background-color: #0E8784;
    color: #fff;
}
.label-4 input:checked ~ .span-4{
    background-color: #0E8784;
    color: #fff;
}
.label-5 input:checked ~ .span-5{
    background-color: #0E8784;
    color: #fff;
}

.label-6 input:checked ~ .span-6{
    background-color: #0E8784;
    color: #fff;
}
.label-7 input:checked ~ .span-7{
    background-color: #0E8784;
    color: #fff;
}
.label-8 input:checked ~ .span-8{
    background-color: #0E8784;
    color: #fff;
}
.label-9 input:checked ~ .span-9{
    background-color: #0E8784;
    color: #fff;
}
.label-10 input:checked ~ .span-10{
    background-color: #0E8784;
    color: #fff;
}
.label-11 input:checked ~ .span-11{
    background-color: #0E8784;
    color: #fff;
}
.label-12 input:checked ~ .span-12{
    background-color: #0E8784;
    color: #fff;
}
.label-13 input:checked ~ .span-13{
    background-color: #0E8784;
    color: #fff;
}
.label-14 input:checked ~ .span-14{
    background-color: #0E8784;
    color: #fff;
}
.label-15 input:checked ~ .span-15{
    background-color: #0E8784;
    color: #fff;
}

.form-end{
    margin-left: 470px;
}


