.services{
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    margin-bottom: 517px;
    background-image: url(../img/Group13.png);
    background-repeat: no-repeat;
    max-width: 1111px;
    min-height: 196px;
}

.services-list{
    position: absolute;
    top: 126px;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 -15px;
    margin-left: auto;
    margin-right: auto;
}
.services-item{
    margin: 0 15px;
    max-width: 255px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-img{
    margin-bottom: 71px;
}
.services-heading{
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B
}
.services-desc{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

@media only screen and (max-width: 836px){

    .services{
        margin-bottom: 144px;
    }

    .services-img{
        margin-bottom: 51px;
    }
    .services-heading{
        margin: 0;
        margin-bottom: 24px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #333D4B
    }
    .services-desc{
        margin: 0;
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        line-height: 24px;
        color: #333D4B;
    }    
}


@media only screen and (max-width: 768px){
    .services{
        margin-top: 144px;
        margin-bottom: 144px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
        margin-bottom: 517px;
        background-image: url(../img/our-colc.png);
        background-repeat: no-repeat;
        max-width: 689px;
        min-height: 118px;
    }
    
    .services-img{
        margin: 0;
    }

    .services-list{
        position: absolute;
        top: 59px;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
    }
    .services-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        max-width: 573px;
        min-height: 193px;
    }

    .services-item:not(:last-child){
        margin-bottom: 32px;
    }

    .services-heading{
        margin: 0;
        margin-bottom: 24px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    .services-desc{
        margin: 0;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        line-height: 25px;
        color: #333D4B;
    }
}

@media only screen and (max-width: 600px){
    .services{
        margin-bottom: 900px;
    }
}


@media only screen and (max-width: 488px){

    .services{
        position: relative;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
        margin-bottom: 1369px;
        background-image: url(../img/Group50.png);
        background-repeat: no-repeat;
        max-width: 375px;
        min-height: 72px;
    }

    .services-item{
        flex-direction: column;
    }

    .services-heading{
        margin: 0;
        max-width: 282px;
    }
    .services-desc{
        margin: 0;
        max-width: 282px;
    }
}


@media only screen and (max-width: 430px){
    .services{
        margin-bottom: 1369px;
    }
}

@media only screen and (max-width: 376px){
    .services{
        margin-bottom: 1369px;
    }
}

