.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}


// tablet uchun responsive container 

@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        max-width: 729px;
        margin: 0 auto;
        padding: 0 20px;
    }
}