.header{
    width: 100%;
}

.coffe-logo{
    max-width: 236px;
    height: auto;
}

.header-nav-list{
    display: flex;
    align-items: center; 
    white-space: nowrap;
    list-style: none;
    margin: 0 -16.5px;
}

.header-nav-list li a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin: 0 16.5px;
    font-family: Barlow;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
}
.header-nav-list li a:hover{
    color: #333D4B;
}

.hamburger-link{
    display: none;
}

@media only screen and (max-width: 580px){

    .header{
        position: relative;
        top: 0;
        left: 0;
    }

    .hamburger-link{
        border: none;
        width: 40px;
        height: 40px;
        background-color: #fff;
        display: inline-block;
    }

    .header-navbar{
        display: none;
    }

    .header--open .header-navbar{
        padding-top: 40px;
        padding-bottom: 377px;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 577px;
        position: absolute;
        top: 100%;
        left: 0;
        background: linear-gradient(180deg, #FEFCF7 55.94%  0%, rgba(254, 252, 247, 0.504981) );
    }    

    .header--open .header-nav-list{
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .header--open .header-nav-list .header-nav-item{
        margin-bottom: 32px;
    }
    
    .header--open .header-nav-list .header-nav-item a{
        margin-bottom: 32px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
}

